/* Menú principal */
.sidebar .sidebar-menu li.nav-header span {
  padding: 12px 10px 12px 26px;
  display: block;
  font-weight: bold;
  font-size: 11px;
  color: #a1a1a1;
  text-transform: uppercase;
}

.sidebar .sidebar-menu li > a {
  font-size: 0.98em;
}

.right-side {
    margin-top: -20px;
}

.fileupload .uneditable-input {
    height: 32px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
}

.input-append .uneditable-input {
    border-right: none;
}

.pagination {
    margin: 0;
}

.grid-header .input-group-addon {
  padding: 6px 12px !important;
  font-size: 14px !important;
  position: absolute;
  left: 0;
}

.grid-header .date {
    width: 130px;
}

.system_messages {
    list-style: none;
}

.highlighted-row {
    background: #cae5fa !important;
}

/* Loading Modal */

#loadingModal {
    width: 250px;
    min-width: 250px;
}

/* jQuery Dialog  */

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: 'Open Sans', sans-serif;
}
.ui-widget {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em /*{fsDefault}*/;
  letter-spacing: 0;
}

.ui-dialog {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    padding: 0;
}

.ui-widget-content {
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px !important;
}

.ui-widget-header {
  border: 0;
  background: none;
  color: #222222/*{fcHeader}*/;
}

.ui-dialog .ui-dialog-titlebar {
	min-height: 16.42857143px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    /*background-color: #0073b7 !important;
    color: #fff !important;*/
}

.ui-dialog .ui-dialog-titlebar-close {
  right: .5em;
  top: 44%;
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  border: none;
  background: none;
}

.ui-dialog-titlebar-close:before {
  content: "×";
}

.ui-dialog .ui-dialog-title {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin: 0;
    line-height: 1.42857143;
    background: none;
}

.ui-dialog .ui-dialog-content {
  padding: 15px;
  font-size: 1em;
}

.ui-dialog .ui-dialog-buttonpane {
    padding: 15px;
    border-top: 1px solid #e5e5e5;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.ui-dialog .ui-dialog-buttonpane button {
    margin-left: 0;
    margin-bottom: 5px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 0;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-left-radius: 0;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius: 0;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: 0;
}

.ui-widget-overlay {
	background: none;
}

.ui-widget-overlay {
    z-index: 1050;
    background: rgba(0, 0, 0, 0.4);
    transition: all 0.3s;
}