
.fa-plus {
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    font-size: 14px;
    background-color: #f0ad4e;
    border-radius: 5px;
    width: 85px;
    height: 30px;
    border: 2px #eea236 solid;
    text-align: center;
    line-height: 26px;
}

.fa-chevron-left {
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    font-size: 14px;
    background-color: #f0ad4e;
    border-radius: 5px;
    width: 85px;
    height: 30px;
    border: 2px #eea236 solid;
    text-align: center;
    line-height: 26px;
}

.fa-chevron-right {
    color: rgb(255, 255, 255);
    font-size: 14px;
}

#next-right {
    color: rgb(255, 255, 255);
    background-color: #f0ad4e;
    font-size: 14px;
    border-radius: 5px;
    border: 2px #eea236 solid;
    text-align: center;
    font-family: "Times New Roman";
}

.fa-plus:hover {
    background-color: #ec971f;
    border: 2px #d58512 solid;
}

.fa-chevron-left:hover {
    background-color: #ec971f;
    border: 2px #d58512 solid;
}

#next-right:hover {
    background-color: #ec971f;
    border: 2px #d58512 solid;
}

.fa-close {
    color: #333;
    cursor: pointer;
    position: relative;
    font-size: 14px
}

.fa-close:hover {
    color: #f0ad4e;
}

.fa-cloud-upload {
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    font-size: 14px;
    background-color: #f0ad4e;
    border-radius: 5px;
    width: 140px;
    height: 34px;
    border: 2px #eea236 solid;
    text-align: center;
    line-height: 30px;
}

.fa-cloud-upload:hover {
    background-color: #ec971f;
    border: 2px #d58512 solid;
}

.fa-question-circle {
    color: #00457E;
    font-size: 17px;
    position: relative;
    cursor: help;
}

.fa-question-circle .tip-pi {
    display: none;
    position: absolute;
    top: 5px;
    /* - top padding */
    left: 250px;
    width: 190px;
    margin-top: 189px;
    margin-left: 50px;
    /* width + left/right padding */
    padding: 0px;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    z-index: 1;
    box-shadow: 0px 0px 10px 4px #00457E;
    opacity: 1;
    border-radius: 5px;
}


.fa-question-circle .tip-pi .sct-pi {
    border: 1px solid;
    border-color: rgb(124, 124, 124);
    border-radius: 5px;
    padding: 10px;
}



.fa-question-circle .tip-pi:before {
    display: flex;
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 0;
    height: 0;
    margin-top: -9px ;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #00457E transparent transparent;
    
}

.fa-question-circle:hover .tip-pi {
    display: flex;
    left: -20px;
    top: -228px;
    opacity: 1;
}
#tabla_pi_rigid td {
    vertical-align: middle;
    text-align: center;
    padding: 0px;
}

#tabla_pi_rigid th {
    vertical-align: middle;
    text-align: center;
    padding: 0px;
}

#tabla_pi_rigid {
    color: rgb(0, 0, 0);
}
.fa-question-circle .tip-pf {
    display: none;
    position: absolute;
    top: 0px;
    /* - top padding */
    left: 250px;
    width: 190px;
    margin-top: 189px;
    margin-left: 50px;
    /* width + left/right padding */
    padding: 0px;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    z-index: 1;
    box-shadow: 0px 0px 10px 4px #00457E;
    opacity: 1;
    border-radius: 5px;
}


.fa-question-circle .tip-pf .sct-pf {
    border: 1px solid;
    border-color: rgb(124, 124, 124);
    border-radius: 5px;
    padding: 10px;
}



.fa-question-circle .tip-pf:before {
    display: flex;
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 0;
    height: 0;
    margin-top: -9px ;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #00457E transparent transparent;
    
}

.fa-question-circle:hover .tip-pf {
    display: flex;
    left: -20px;
    top: -228px;
    opacity: 1;
}

.fa-question-circle .tip-R {
    display: none;
    position: absolute;
    top: 0px;
    /* - top padding */
    left: 0px;
    height: auto;
    width: 280px;
    margin-left: -274px;
    margin-top: 143px;
    /* width + left/right padding */
    padding: 0px;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 4px #00457E;
    opacity: 1;
    z-index: 1;
    border-radius: 5px;
}

.fa-question-circle .tip-R .sct-R {
    border: 1px solid;
    border-color: rgb(124, 124, 124);
    border-radius: 5px;
    padding: 10px;
}


.fa-question-circle .tip-R:before {
    display: flex;
    content: '';
    position: absolute;
    top: 50%;
    left: 368px;
    width: 0;
    height: 0;
    margin-top: -7.5px;
    margin-left: -86px;
    border-left: 9px solid #00457E;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
}

.fa-question-circle:hover .tip-R {
    display: flex;
    left: -20px;
    top: -212px;
    opacity: 1;
}
#tabla_confiabilidad_rigid td {
    vertical-align: middle;
    text-align: center;
    padding: 0px;
}

#tabla_confiabilidad_rigid th {
    vertical-align: middle;
    text-align: center;
    padding: 0px;
}



#tabla_confiabilidad_rigid {
    color: rgb(0, 0, 0);
}
.fa-question-circle .tip-So {
    display: none;
    position: absolute;
    
    /* - top padding */
    left: 250px;
    width: 175px;
    margin-left: -170px;
    margin-top: 108px;
    /* width + left/right padding */
    padding: 0px;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 4px #00457E;
    opacity: 1;
    z-index: 1;
    border-radius: 5px;
}

.fa-question-circle .tip-So .sct-So {
    border: 1px solid;
    border-color: rgb(124, 124, 124);
    border-radius: 5px;
    padding: 10px;
}

.fa-question-circle .tip-So:before {
    display: flex;
    content: '';
    position: absolute;
    top: 50%;
    left: 265px;
    width: 0;
    height: 0;
    margin-top: -9px;
    margin-left: -87px;
    width: 0;
    height: 0;
    border-left: 9px solid #00457E;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
}

.fa-question-circle:hover .tip-So {
    display: flex;
    left: -20px;
    top: -147px;
    opacity: 1;
}
#tabla_desvestEstandar_rigid td {
    vertical-align: middle;
    text-align: center;
    padding: 0px;
}

#tabla_desvestEstandar_rigid th {
    vertical-align: middle;
    text-align: center;
    padding: 0px;
}

#tabla_desvestEstandar_rigid {
    color: rgb(0, 0, 0);
}

.fa-question-circle .tip-drenaje {
    display: none;
    position: absolute;
    top: 0px;
    /* - top padding */
    left: -230px;
    width: 450px;
   margin-left: -193px;
    
    margin-top: -30px;
    /* width + left/right padding */
    padding: 0px;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 4px #00457E;
    opacity: 1;
    z-index: 1;
    border-radius: 5px;
}

.fa-question-circle .tip-drenaje .sct-drenaje {
    border: 1px solid;
    border-color: rgb(124, 124, 124);
    border-radius: 5px;
    padding: 10px;
}



.fa-question-circle .tip-drenaje:before {
    display: flex;
    content: '';
    position: absolute;
    top: 132px;
    left: 135px;
    width: 0;
    height: 0;
    
    margin-top: 33px ;
    margin-left: 75px;
    border-width: 10px;
    border-style: solid;
    border-color: #00457E transparent transparent transparent;
}

.fa-question-circle:hover .tip-drenaje {
    display: flex;
    left: -20px;
        top: -147px;
    opacity: 1;
}
#tabla_drenaje_base_rigid_ayuda td {
    vertical-align: middle;
    text-align: center;
    padding: 0px;
}

#tabla_drenaje_base_rigid_ayuda th {
    vertical-align: middle;
    text-align: center;
    padding: 0px;
}

#myModal_aviso_rigid_anclas {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#myModal_aviso_rigid_anclas .modal-body {
    height: 130px;
    overflow-y: auto;
    width: 450px;
}

#myModal_aviso_rigid_anclas .modal-dialog {
    position: fixed;
    
    width: 450px;
    top: 250px;
    bottom: 0;
    right: 20%;
    left: 30%;
}
#fa-arrow-circle-right-rigid {
    color: #00457E;
    font-size: 14px;
    position: relative;
}

#fa-arrow-circle-left-rigid {
    color: #00457E;
    font-size: 14px;
    position: relative;
}

#tabla_drenaje_base_rigid_ayuda {
    color: rgb(0, 0, 0);
}

input[type=text] {
    text-align: right
}

input[type=number] {
    text-align: right
}

#contenedor2 {
    background: #00457E;
    border-bottom: 1px solid #ddd;
    color: white;
    text-align: center;
    font-size: 12px;
    border-radius: 3px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    width: 100%;
}

#contenedor2 .btnEjemplo1 {
    height: 20px;
    line-height: 20px;
}

#contenedor1 {
    border-radius: 5px;
    border-left: 0.5px solid #ddd;
    border-right: 0.5px solid #ddd;
    border-top: 0.5px solid #ddd;
    border-bottom: 0.5px solid #ddd;
    box-shadow: 0 0 5px #ddd;
    padding: 0px;
}

#contenedor11 {
    border-radius: 5px;
    border-left: 0.5px solid #ddd;
    border-right: 0.5px solid #ddd;
    border-top: 0.5px solid #ddd;
    border-bottom: 0.5px solid #ddd;
    box-shadow: 0 0 5px #ddd;
    padding: 0px;
}

#contenedor21 {
    background: rgb(64, 142, 206);
    border-bottom: 1px solid #ddd;
    color: white;
    text-align: center;
    font-size: 11px;
    border-radius: 3px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
}

#tituloapp {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    text-transform: uppercase;
    display: block;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(to bottom right, rgba(0, 69, 126, 0.501) 10%, #00457E 90%);
    border-radius: 2px;
    height: 30px;
    line-height: 30px;
}

#procedimientos {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    text-transform: uppercase;
    display: block;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(to bottom right, rgba(0, 69, 126, 0.501) 10%, #00457E 90%);
    border-radius: 2px;
    height: 30px;
    line-height: 30px;
}

#myModalvehiculos {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#myModalvehiculos .modal-body {
    height: 600px;
    overflow-y: auto;
    width: 100%;
}

#myModalvehiculos .modal-dialog {
    position: fixed;
    width: 60%;
    top: 0;
    bottom: 0;
    right: 70%;
    left: 18.5%;
}

#clasfvehiculos td {
    vertical-align: middle;
    text-align: center;
    padding: 0px;
}

#clasfvehiculos th {
    vertical-align: middle;
    text-align: center;
}

#clasfvehiculos input[type=text] {
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    padding: 0px;
}

#tipconfia {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}
#tabla-drenaje {
    color: rgb(0, 0, 0);
    font-size:10.5px;
}
#procesodrenajeb th {
    vertical-align: middle;
    text-align: center;
    padding: 0px;
    font-size:10.5px
}
#procesodrenajeb td {
    
    font-size:10.5px
}

#tabla-drenaje td {
    vertical-align: middle;
    text-align: center;
    padding: 0px;
    font-family: Arial;
}
#pavimentoRigido {
    height: 100%;
    width: 100%;
    font-family: Arial
}

#tabla-drenaje th {
    vertical-align: middle;
    text-align: center;
    padding: 0px;
}

#myModalespesor {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#myModalespesor .modal-body {
    height: 600px;
    overflow-y: auto;
    width: 100%;
}

#myModalespesor .modal-dialog {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: -1.5%;
}

#esalsTabla td {
    vertical-align: middle;
    text-align: center;
    padding: 2px;
}

#esalsTabla th {
    vertical-align: middle;
    text-align: center;
    padding: 0px;
}

#tablaEquivalencia td {
    vertical-align: middle;
    text-align: center;
    padding: 0px;
}

#tablaEquivalencia th {
    vertical-align: middle;
    text-align: center;
    padding: 0px;
}
#esalsTabla td {
    vertical-align: middle;
    text-align: center;
    padding: 3px;
}

#esalsTabla th {
    vertical-align: middle;
    text-align: center;
    padding: 0px;
}

.nav-pills>li>a {
    padding-top: 3px;
    padding-bottom: 3px;
}
.fa-arrow-circle-left {
    color: rgb(255, 255, 255);
    font-size: 14px;
    position: relative;
}
.fa-arrow-circle-right {
    color: rgb(255, 255, 255);
    font-size: 14px;
    position: relative;
}
.cuadro_autor {
    background-color:  rgb(212, 211, 255);
    vertical-align: middle;
    text-align: center;
}

.basepadd,
.mrpadd {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
}

#boton-control1 {
    background-color: rgba(0, 69, 126, 0.111)
}

#boton-control {
    vertical-align: middle;
    text-align: center;
    padding: 0px;
    margin: auto;
    height: 55px;
}


.btnRigidoEjemplo .tipBtnRigidoEjemplo {
    display: none;
    position: absolute;
    top: 0px;
    /* - top padding */
    left: 200px;
    width: auto;
    height: auto;
    margin-left: -350px;
    margin-top: 97px;
    /* width + left/right padding */
    padding: 0px;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 4px #00457E;
    opacity: 1;
    z-index: 1;
    border-radius: 5px;
}

.btnRigidoEjemplo .tipBtnRigidoEjemplo .sctEjemplo {
    border: 1px solid;
    border-color: rgb(124, 124, 124);
    border-radius: 5px;
    padding: 2px;
    vertical-align: middle;
    text-align: center;
}

.btnRigidoEjemplo .tipBtnRigidoEjemplo:before {
    display: flex;
    content: '';
    position: absolute;
    top: 50%;
    left: 128px;

    margin-top: -9px;
    margin-left: 230px;
    width: 0;
    height: 0;
    border-left: 9px solid #00457E;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
}

.btnRigidoEjemplo:hover .tipBtnRigidoEjemplo {
    display: flex;
    left: -20px;
    top: -98px;
    opacity: 1;
}


#tituloContenedorPrincipal .btnEjemplo1 {
    height: 20px;
    line-height: 20px;
}

a:link {color:rgb(5, 111, 197);}
a:visited {color:#ffffff;}
a:active {color:#ffffff;}
a:hover {color:#ffffff;}

.fa-chevron-right {
    color: rgb(255, 255, 255);
    font-size: 14px;
}

#detalle_proceso {
    color: rgb(255, 255, 255);
    background-color: #f0ad4e;
    font-size: 14px;
    border-radius: 5px;
    border: 2px #eea236 solid;
    text-align: center;
    

}